/* NavBar */
div,
h2,
h3,
h4,
p {
  font-weight: 300;
}
Typography {
  font-weight: 300;
}
.headpadding {
  width: 100%;
  height: 70px;
}
.centered2 {
  position: absolute;
  text-align: center;
  margin: auto;
  padding-top: 60px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav {
  background-color: black;
  width: 100%;
  height: 10%;
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 10005;
  opacity: 0.5;
}
.nav2 {
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 10005;
  font-size: 25px;
  color: white;
  height: 10%;
}
.link {
  text-decoration: none;
  font-weight: 300;
  color: white;
  width: 100%;
  height: 54%;
  padding: 20px 0px 20px 0px;
  margin-left: 28px;
  text-align: center;
  transition: 0.3s;
}
.link:hover {
  color: black;
  background-color: white;
  cursor: grab;
}
/* Home */
.home {
  height: 100%;
  background-color: black;
  z-index: -1;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  /* position: relative; */
}
.centered6 {
  position: absolute;
  text-align: center;
  margin: auto;
  padding-top: 80px;
  /* top: 60%; */
  left: 50%;
  transform: translate(-50%, -80%);
}
.background {
  height: 120vh;
  width: 100%;
  opacity: 0.4;
  /* position: relative; */
  z-index: -5;
  background-image: url("../images/touring4.JPG");
  background-size: 100% 100%;

  background-attachment: fixed;
  background-repeat: no-repeat;
}
.me {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 230px;
  border-radius: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  border: 6px solid #cccccc;
  box-shadow: 0 0 1px 15px rgba(255, 255, 255, 0.25),
    0 0 1px 30px rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}
.me:hover {
  box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.25),
    0 0 0px 10px rgba(255, 255, 255, 0.25);
}
.centered {
  position: absolute;
  text-align: center;
  margin: auto;
  padding-top: 60px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered3 {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 13%;
  padding-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toabout {
  position: absolute;
  text-align: center;
  margin: auto;
  padding: 10px;
  top: 92%;
  left: 50%;
  border: 1px solid white;
  color: white;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  font-weight: 300;
}
.toabout:hover {
  background-color: white;
  color: black;
}

.name {
  font-size: 55px;
  font-weight: 300;
  color: white;
}
.name2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  color: #dddddd;
  font-weight: 300;
}

.icons {
  position: absolute;
  top: 75%;
  /* padding-top: 10px;
  padding-bottom: 20px;
  left: 50%;
  margin-left: -105px; */
  display: flex;

  margin: auto;
  top: 75%;
  padding-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iconpadding {
  width: 20px;
}
/* .iconbackground:hover .iconbackground {
  opacity: 0.5;
  background-color: gray;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px 4px rgba(0, 0, 0, 0.2);
} */
/* .iconbackground {
  background-color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: 0.2s ease;
} */
.icon {
  width: 20px;
  height: 20px;
  transition: 0.2s ease;

  transform: translate(0%, 30%);
}
.icon1 {
  width: 30px;
  height: 30px;
  transition: 0.2s ease;
  background-color: #cccccc;
  border: 3px solid #cccccc;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.25),
    0 0 1px 4px rgba(255, 255, 255, 0.2);
}

.icon1:hover {
  background-color: #aaaaaa;
  border: 3px solid #aaaaaa;
  box-shadow: 0 0 1px 4px rgba(255, 255, 255, 0.25),
    0 0 1px 8px rgba(255, 255, 255, 0.2);
}

.subhead0 {
  width: 150px;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eeeeee;
  z-index: 4;
  opacity: 0.8;
}
.subhead {
  width: 100px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  opacity: 0.8;
}
.subhead2 {
  width: 25px;
  margin: 0 auto;
  padding-top: 0px;
  margin-bottom: 10px;
  border-bottom: 5px solid black;
}
.subhead3 {
  width: 100px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  opacity: 0.8;
}

/* About */
.about {
  height: 100%;
  background-color: #eeeeee;
  z-index: 0;
  position: relative;
}
.paper {
  height: 616px;
  width: 450px;
  position: relative;
  overflow: hidden;
  margin: auto;

  /* z-index: 0; */
}
.paper:hover .blackglass {
  /* width: 450px; */
  /* opacity: 0.8; */
  color: rgb(255, 255, 255, 1);
  background: rgba(25, 25, 25, 0.8);
}
.none4 {
  text-decoration: none;
  color: #0066cc;
  opacity: 0;
  transition: 0.3s ease;
}
.paper:hover .none4 {
  opacity: 1;
}
.centered4 {
  text-align: center;
  margin: auto;
}
.blackglass {
  /* z-index: 0; */
  padding: 40px;
  height: 536px;
  width: 370px;
  background: rgba(25, 25, 25, 0);
  position: absolute;
  overflow: hidden;
  color: rgb(255, 255, 255, 0);
  font-size: 19px;
  margin: auto;
  top: 50%;
  left: 50%;
  /* opacity: 0; */
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.centered5 {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 15%;
  padding-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.who {
  text-align: center;
  font-weight: 300;
}
.p {
  font-weight: 300;
}

.aboutpic {
  height: 616px;
  width: 450px;
  overflow: hidden;

  /* height: 10%; */
  /* width: 70%; */
}
.quote {
  width: 1000px;
  font-size: 25px;
  color: gray;
  font-style: italic;
  /* font-weight: bold; */
}
.quote2 {
  width: 1000px;
  font-size: 25px;
  color: #bbbbbb;
  font-style: italic;
  font-weight: 300;

  /* font-weight: bold; */
}
.author {
  width: 1000px;
  font-size: 25px;
  color: gray;
  padding: 10px;
  margin-bottom: 10%;
  font-style: italic;
  /* font-weight: bold; */
}
.author2 {
  width: 1000px;
  font-size: 25px;
  color: #bbbbbb;
  padding: 10px;
  margin-bottom: 10%;
  font-weight: 300;

  /* font-weight: bold; */
}

.vertical2 {
  transition: 0.2s;
  opacity: 1;
}
.vertical2:hover {
  /* opacity: 0.7; */
  /* border: 3px solid black; */
  transform: scale(1.02);
  /* padding: 3px; */
}
.text {
  font-size: 20px;
  padding: 30px;
}
.text2 {
  margin-top: 20px;
  font-size: 15px;
}
.aboutsplash {
  height: 120vh;
  width: 195.9vh;
  opacity: 0.5;
  z-index: -1;
  text-align: center;
  position: absolute;
}
.center2 {
  padding-top: 250px;
  /* position: absolute; */
  z-index: 5;
}
.education {
  padding: 20px;
}
.tjuva {
  width: 38%;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar2 {
  vertical-align: middle;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}
.chip {
  padding: 10px 10px 10px 10px;
}
.timelineavatar2 {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}
/* .timelineavatar {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  transition: 0.1s ease-in-out;
  transform-origin: center center;
} */
.timelineavatar2:hover {
  transform-origin: center center;
  transform: scale(1.4);
  top: 0%;
  left: 0%;
}
/* Skill */
.skill {
  height: 100%;
  background-color: white;
  z-index: -1;
  /* text-align: center; */
  margin: 0 auto;
  align-content: center;
  position: relative;
}
.container {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  margin: 10px 0px 40px 0px;
}
.container2 {
  margin: 10px 0px 40px 0px;
  /* background-color: gray; */
  width: 100%;
  display: flex;
}
.container3 {
  margin: 10px 0px 40px 0px;
  width: 100%;
  display: flex;
}
.height2 {
  height: 130px;
  width: 130px;
  padding: 10px 10px 10px 50px;
}
.skilllabel {
  font-size: 30px;
  padding-left: 30px;
  font-weight: 300;
}
.height3 {
  height: 130px;
  padding: 10px;
  transition: 0.2s;
}

.eachskill {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills {
  margin-left: 175px;
  padding: 20px;
  text-align: center;
  margin: auto;
}
/* Portfolio */
.portfolio {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 150px;
  background-image: url("../images/coding.jpg");
  background-size: 100% 100%;
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.description {
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}
.react {
  color: #61dbfb;
}
.django {
  /* color: #092e20; */
  color: #2da977;
}
.flask {
  color: white;
}
.center0 {
  top: 19%;
  color: white;
  position: absolute;
  z-index: 2;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfoliozindex {
  padding-top: 200px;
  z-index: 5;
  /* position: absolute; */
}
.portfoliosplash {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0.6;
  background-color: black;
}

.center {
  /* padding-top: -20%; */
  padding-top: 100px;
  text-align: center;
  /* color: black; */
  z-index: 5;
}
.center3 {
  padding-top: 100px;
  text-align: center;
  z-index: 5;
  font-weight: 900;
}
.cardcontainer {
  position: relative;
}
.card {
  position: absolute;
}
.black {
  background-color: black;
  height: 300px;
}
.height {
  height: 300px;
  width: 300px;
  transition: 0.2s;
  overflow: hidden;
}
.post {
  width: 300px;
  position: relative;
  overflow: hidden;
}
.github {
  position: absolute;
  opacity: 0.7;
  background-color: black;
  /* padding: 10px 10px 5px 5px; */
  text-align: center;
  margin: auto;
  /* padding-top: 60px; */
  top: 0%;
  right: 0%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  transition: 0.2s;
}
.github:hover {
  opacity: 1;
  transform: scale(1.1);
}

.github2 {
  width: 23px;
  padding: 12px;
  opacity: 1;

  /* padding-top: 5px; */
}
/* .github2:hover {
  height: 0px;
  opacity: 0.5;
} */
.post:hover .post-s {
  width: 300px;
  height: 300px;
}
.post:hover .height {
  /* transform: scale(1.2); */
  width: 100%;
  max-width: 300px;
}
.post-s {
  width: 0;
  height: 300px;
  background: rgba(25, 25, 25, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: 0.5s ease;
}
.used {
  color: white;
  font-size: 35px;
  margin-top: 70px;
  padding: 50px 0px 0px 0px;
  font-weight: 300;
  text-align: center;
  /* margin-left: 10px; */

  /* text-decoration: overline; */
}
.technology {
  /* color: #cccccc; */
  font-weight: 300;
  font-size: 20px;
  padding: 0px 60px;
}

.post:hover .post-s {
  width: 100%;
}
.label {
  color: white;
  width: 30%;
  font-size: 20px;
  border: 1px solid white;
  padding: 10px 40px;
  margin-top: 30px;
  margin-left: 21%;
  margin-right: 70px;
  transition: 0.3s;
  font-weight: 300;
}
.label:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  opacity: 0.9;
}
.none {
  text-decoration: none;
}
/* Experience */
.experience {
  height: 100%;
  padding-bottom: 5%;
  /* background-color: black; */
  background-color: #dddddd;
}
.color {
  color: white;
}
.experiencesplash1 {
  /* padding-top: 10%; */
  /* margin-top: 10%; */
  /* padding-bottom: 50%; */
  height: 175%;
  width: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}
.experiencesplash2 {
  /* padding-top: 32%; */
  margin-top: 32.9%;
  height: 45%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 0;
}

.timelineavatar {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  transition: 0.1s ease-in-out;
  transform-origin: center center;
}
/* .timelineavatar:hover {
  transform-origin: center center;
  transform: scale(1.4);
  top: 0%;
  left: 0%;
} */
.timelineavatar3 {
  /* vertical-align: middle; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid #021a40; */
}
.padding {
  padding: 0px 0px 15px 0px;
}
.none2 {
  text-decoration: none;
  color: black;
  /* font-size: 30px; */
}
.title {
  font-size: 30px;
}
.none3 {
  text-decoration: none;
  color: white;
}
.none3:hover {
  color: black;
}
.none2:hover {
  color: gray;
  opacity: 1;
}
.role {
  color: #777777;
  font-size: 15px;
}
.vertical {
  transition: 0.2s;
  opacity: 1;
  color: gray;
  /* box-shadow: 3px 3px 1px 1px; */
}
.vertical:hover {
  /* opacity: 0.7; */
  /* border: 3px solid black; */
  transform: scale(1.04);
  /* padding: 3px; */
}
.vertical:hover .timelineavatar {
  transform-origin: center center;
  transform: scale(1.15);
  top: 0%;
  left: 0%;
}
/* Resume */
.resume {
  height: 100vh;
  background-color: red;
}
/* Misc */

.misc {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: relative;
  padding-bottom: 150px;
  background-image: url("../images/uva.jpg");
  background-size: 100% 100%;
  /* opacity: 0.7; */
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 0%;
}
.miscsplash {
  padding-top: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0.8;
  background-color: black;
}
.center4 {
  top: 8%;
  color: white;
  position: absolute;
  z-index: 2;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  left: 50%;
  font-weight: 300;
  transform: translate(-50%, -50%);
}
.limit {
  text-align: center;
  margin: auto;
  padding-top: 15%;
  top: 60%;
  max-width: 1000px;

  /* padding-left: 15%; */
}
.enlarge {
  transition: 0.1 ease;
}
.enlarge:hover {
  transform: scale(1, 2);
}
.picture {
  position: relative;
  width: 100%;
  height: 100%;
}
.picture2 {
  height: 150%;
  width: 150%;
  transition: transform 0.2s; /* Animation */
}
.picture3 {
  position: absolute;
  background-color: rgb(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
.picture:hover .picture3 {
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 7;
}
.picture:hover .picture2 {
  transform: scale(1.15);
  z-index: 0;
}
.picture:hover .download {
  border: 1px solid rgb(255, 255, 255, 1);
  color: rgb(255, 255, 255, 1);
}

.download {
  width: 30%;
  border: 1px solid rgb(255, 255, 255, 0);
  color: rgb(255, 255, 255, 0);
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  margin-top: 110px;
  font-weight: 300;
}
.download:hover {
  background-color: rgb(255, 255, 255, 0.9);
  color: black;
}
/* Footer */
.footer {
  margin-top: 50px;
  color: white;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 170px;
  position: absolute;
  z-index: 20;
}
.contact {
  font-size: 30px;
}
.center5 {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
  /* padding: 40px; */
}
.copyright {
  font-size: 12px;
  color: #999999;
}
.icons2 {
  display: flex;
  padding: 20px;
  margin: auto;
}
.button {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  font-weight: 300;
  color: white;
  cursor: grab;
  transition: 0.2s;
}
.button:hover {
  color: black;
  opacity: 1;
  background-color: white;
}
