/* contact */
div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.icon3 {
  width: 20px;
  height: 20px;
  transition: 0.2s ease;

  transform: translate(0%, -10%);
}
.icons2 {
  display: flex;
  /* margin-bottom: 500px; */
  margin: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
.contact {
  color: white;
  background-color: rgb(0, 0, 0, 1);
  width: 100%;
  height: 100%;

  /* z-index: ; */
  /* position: absolute; */
  /* overflow: hidden; */

}
.footer{
  /* bottom:5%; */
  margin-bottom:20px;
}
#response {
  color: white;
  font-size: 20px;
  padding: 10px;
}
.center5 {
  /* position: absolute; */
  text-align: center;
  margin: auto;
  /* left: 50%; */
  display: flex;
  flex-direction: column;
  width: 20%;
  /* transform: translate(-50%, 0); */
  /* background-color: rgb(0, 0, 0, 1); */

}
.contact {
  font-size: 30px;
}
.gentlepadding {
  padding-top: 100px;
}
.flex2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  /*min-width:100%*/ /*margin-top:50px*/ /*margin:auto*/
  width: 100%;
}
.copyright {
  font-size: 12px;
  color: #999999;
}
.icons2 {
  display: flex;
  padding: 20px;
  margin: auto;
}

.centered8 {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.button2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid currentColor;
  transition: 0.5s;
  font-weight: bold;
}
.button2:hover:after {
  /* margin-left:5px; */
  width: 100%;
}
.button2 {
  /* width: 80%; */
  cursor: grab;
  position: relative;
  font-size: 15px;
}
.button2:hover {
  color: #bbbbbb;
}
.button2container{
  width: 110px;
  margin: 0 auto;
}
.button {
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border: 1px solid white;
  font-weight: 300;
  color: white;
  cursor: grab;
  transition: 0.3s;
  font-size: 16px;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.button:hover {
  color: black;
  opacity: 1;
  width: 55%;
  background-color: white;
}
.contactname {
  margin: 5px 10px 30px 10px;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 140%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.contactemail {
  margin: 5px 10px 30px 10px;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 140%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.contactmessage {
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 5px;
  line-height: 20px;
  height:200px;
  width: 140%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
@media only screen and (min-height: 600px) and (max-height: 725px) and (min-width: 350px) and (max-width: 400px) {
  .contact {
    color: white;
    background-color: rgb(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .gentlepadding {
    padding-top: 20px;
  }
  .button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    font-weight: 300;
    color: white;
    cursor: grab;
    transition: 0.2s;
    font-size: 16px;
    background-color: black;
  }
  .contactname {
    margin: 5px 10px 30px 10px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .center5 {
    /* position: absolute; */
    text-align: center;
    margin: auto;
    /* left: 50%; */
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    width: 230px;
    /* transform: translate(-50%, 0); */
    /* background-color: rgb(0, 0, 0, 1); */
  
  
  }
  .contactemail {
    margin: 5px 10px 30px 10px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .contactmessage {
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 15px;
    height:220px;
    width: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
@media only screen and (min-height: 725px) and (max-height: 850px) and (min-width: 370px) and (max-width: 420px) {
  .contact {
    color: white;
    background-color: rgb(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    /* position: absolute; */
    z-index: 0;
  }
  .center5 {
    /* position: absolute; */
    text-align: center;
    margin: auto;
    /* left: 50%; */
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    width: 250px;
    /* transform: translate(-50%, 0); */
    /* background-color: rgb(0, 0, 0, 1); */
  
  }
  .gentlepadding {
    padding-top: 20px;
  }
  .button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    font-weight: 300;
    color: white;
    cursor: grab;
    transition: 0.2s;
    font-size: 16px;
    background-color: black;
  }
  .contactname {
    margin: 5px 10px 30px 10px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .contactemail {
    margin: 5px 10px 30px 10px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .contactmessage {
    font-size: 14px;
    font-weight: 300;
    height: 280px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 15px;
    width: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
