/* Experience */
div,
h2,
h3,
h4,
p {
  font-weight: 300;
}

.underline {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
  z-index: 4;
  opacity: 0.8;
}

.experience {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: rgb(20, 20, 20);
  /* position: relative;
  z-index:0; */
}

.text3 {
  margin-top: 5px;
  font-size: 13px;
  color: gray;
}

.color {
  color: white;
}

.chip {
  padding: 5px 0px 5px 0px;
}

.experiencesplash1 {
  height: 175%;
  width: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}

.experiencesplash2 {
  margin-top: 32.9%;
  height: 45%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 0;
}

.timelineavatar {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 1px 0px 3px 1px rgb(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
  transform-origin: center center;
  /* filter: grayscale(100%); */
  /* filter: grayscale(50%); */
}

.timelineavatar4 {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  transition: 0.2s ease-in-out;
  transform-origin: center center;
}

.timelineavatar3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.padding {
  transition: 0.3s ease-in-out;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #999999;
  background-color: gray;
}

.vertical:hover .padding0 {
  background-color: #e32030;
}

.vertical:hover .padding1 {
  background-color: rgb(51, 81, 133, 1);
}

.vertical:hover .padding2 {
  background-color: #19b4f3;
}

.vertical:hover .padding3 {
  background-color: #222222;
}

.vertical:hover .padding4 {
  background-color: #1f72be;
}

.underline0,
.underline1,
.underline2,
.underline3,
.underline4 {
  position: relative;
}

.vertical:hover .underline0:before,
.vertical:hover .underline1:before,
.vertical:hover .underline2:before,
.vertical:hover .underline3:before,
.vertical:hover .underline4:before {
  visibility: visible;
  transform: scaleX(1);
}

.underline0:before {
  content: "";
  position: absolute;
  width: 160px;
  height: 1px;
  bottom: 0;
  left: 0%;
  background-color: #e32030;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.underline1:before {
  content: "";
  position: absolute;
  width: 155px;
  height: 1px;
  bottom: 0;
  background-color: rgb(51, 81, 133, 1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.underline2:before {
  content: "";
  position: absolute;
  width: 239px;
  height: 1px;
  bottom: 0;
  background-color: #19b4f3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.underline3:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 1px;
  bottom: 0;
  background-color: #222222;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.underline4:before {
  content: "";
  position: absolute;
  width: 83px;
  height: 1px;
  bottom: 0;
  background-color: #1f72be;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.bold0 {
  transition: 0.2s;
  font-size: 16px;
  /* font-weight: 700; */
}

.vertical:hover .bold0 {
  color: #e32030;
  /* font-weight: 700; */
}

.bold1 {
  transition: 0.2s;
  font-size: 16px;
  /* font-weight: 700; */
}

.vertical:hover .bold1 {
  color: rgb(51, 81, 133, 1);
  /* font-weight: 700; */
}

.bold2 {
  transition: 0.2s;
  font-size: 16px;
}

.vertical:hover .bold2 {
  color: #19b4f3;
  /* font-weight: 700; */
}

.bold3 {
  transition: 0.2s;
  font-size: 16px;
}

.vertical:hover .bold3 {
  color: #222222;
  /* font-weight: 700; */
}

.bold4 {
  transition: 0.2s;
  font-size: 16px;
}

.vertical:hover .bold4 {
  color: #1f72be;
  /* font-weight: 700; */
}

.title {
  font-size: 30px;
}

.none3 {
  text-decoration: none;
  color: white;
}

.none3:hover {
  color: black;
}

.role {
  color: #777777;
  font-size: 15px;
}

.inner {
  box-shadow: 5px 5px 0px 0px black;
}

.vertical {
  transition: 0.2s;
  opacity: 1;
  color: gray;
  z-index: 0;

  /* border-radius: 20px; */
}

.vertical:hover .timelineavatar {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  filter: grayscale(0%);
}

@media only screen and (max-width: 800px) {
  .timelineavatar {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 0px 3px 1px rgb(0, 0, 0, 0.4);
    transition: 0.2s ease-in-out;
    transform-origin: center center;
    /* filter: grayscale(100%); */
    /* filter: grayscale(50%); */
  }

  .vertical:hover .timelineavatar {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 80px;
    height: 80px;
    /* transform: scale(1.5); */
  }

  .vertical:hover .padding {
    transform: scale(1.02);
  }

  .underline0:before {
    content: "";
    position: absolute;
    width: 129px;
    height: 1px;
    bottom: 0;
    left: 0%;
    background-color: #e32030;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .underline1:before {
    content: "";
    position: absolute;
    width: 124px;
    height: 1px;
    bottom: 0;
    background-color: rgb(51, 81, 133, 1);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .underline2:before {
    content: "";
    position: absolute;
    width: 191px;
    height: 1px;
    bottom: 0;
    background-color: #19b4f3;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .underline3:before {
    content: "";
    position: absolute;
    width: 51px;
    height: 1px;
    bottom: 0;
    background-color: #222222;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .underline4:before {
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    bottom: 0;
    background-color: #1f72be;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
}