/* Experience */
.experience {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 500px;
  padding-bottom: 5%;
  background-color: #dddddd;
}
.center {
  text-align: center;
  z-index: 5;
  padding-right: 5px;
  padding-left: 5px;
}
.color {
  color: white;
}
.experiencesplash1 {
  height: 175%;
  width: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}

.experiencesplash2 {
  margin-top: 32.9%;
  height: 45%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 0;
}

.timelineavatar {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  transition: 0.2s ease-in-out;
  transform-origin: center center;
}
.timelineavatar3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.padding {
  transition: 0.2s ease-in-out;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.padding1 {
  background-color: rgb(51, 81, 133, 1);
}
.padding2 {
  background-color: #19b4f3;
}
.padding3 {
  background-color: #222222;
}
.padding4 {
  background-color: #1f72be;
}

.title {
  font-size: 30px;
}
.none3 {
  text-decoration: none;
  color: white;
}
.none3:hover {
  color: black;
}

.role {
  color: #777777;
  font-size: 15px;
}
.inner {
  box-shadow: 5px 5px 0px 0px black;
}
.vertical {
  transition: 0.2s;
  opacity: 1;
  color: gray;
  /* border-radius: 20px; */
}
.vertical:hover .timelineavatar {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  /* transform: scale(1.5); */
}
.vertical:hover .padding {
  transform: scale(1.05);
}

@media only screen and (max-width: 800px) {
  .vertical:hover .timelineavatar {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    /* transform: scale(1.5); */
  }
  .vertical:hover .padding {
    transform: scale(1.02);
  }
}
