/* NavBar */
div,
h2,
h3,
h4,
p {
  font-weight: 300;
}
.headpadding {
  width: 100%;
  height: 70px;
}
.centered2 {
  position: absolute;
  text-align: center;
  margin: auto;
  /* padding-top: 60px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.centered7 {
  /* position: absolute; */
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  z-index: 5;
}
.centered7-scrolled {
  /* position: absolute; */
  text-align: center;
  margin: auto;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  /* top: 165%; */
  /* left: 50%; */
  /* transform: translate(-50%, 0%); */
  z-index: 5;
}
.nav {
  background-color: black;
  width: 100%;
  height: 75px;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 10005;
  opacity: 0.9;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  transition: 0.2s;
}
.nav2 {
  display: flex;
  z-index: 10005;
  font-size: 25px;
  color: white;
  height: 10%;
}
.nav-scrolled {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 69px;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 10005;
  position: fixed;
  top: 0;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.nav2-scrolled {
  display: flex;
  z-index: 10005;
  font-size: 25px;
  color: white;
  /* height: 10%; */
  position: fixed;
  top: 0;
}

.link {
  text-decoration: none;
  font-weight: 300;
  color: white;
  width: 100%;
  padding: 20px 10px 20px 10px;
  text-align: center;
  transition: 0.3s;
}
.link:hover {
  color: black;
  background-color: white;
  cursor: grab;
}
.active {
  color: black;
  background-color: white;
  cursor: grab;
}
@media only screen and (max-width: 800px) {
  .nav {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0%;
    padding: 0;
    z-index: 10005;
    opacity: 0.7;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
  }
  .nav2 {
    display: flex;
    position: fixed;
    top: 0%;
    z-index: 10005;
    font-size: 10px;
    color: white;
    height: 50px;
    display: flex;
    position: fixed;
    overflow-x: scroll;
    width: 100%;
  }
  .nav2-scrolled {
    display: flex;
    position: fixed;
    top: 0%;
    z-index: 10005;
    font-size: 8px;
    color: white;
    height: 50px;
    display: flex;
    position: fixed;
    overflow-x: scroll;
    width: 100%;
  }
  .nav-scrolled {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0%;
    margin: 0;
    padding: 0;
    z-index: 10005;
    opacity: 0.9;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  .link {
    text-decoration: none;
    font-weight: 300;
    color: white;
    width: 100%;
    height: 10px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    transition: 0.3s;
  }
  .link:hover {
    color: black;
    /* font-weight: bold; */
    background-color: white;
    cursor: grab;
  }
  .active {
    color: black;
    background-color: white;
    cursor: grab;
  }
}
