/* NavBar */
div,
h2,
h3,
h4,
p {
  font-weight: 300;
}
.headpadding {
  width: 100%;
  height: 70px;
}
.centered2 {
  position: absolute;
  text-align: center;
  margin: auto;
  padding-top: 60px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav {
  background-color: black;
  min-width: 100%;
  height: 10%;
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 10005;
  opacity: 0.5;
}
.nav2 {
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 10005;
  font-size: 25px;
  color: white;
  height: 10%;
}
.link {
  text-decoration: none;
  font-weight: 300;
  color: white;
  width: 100%;
  height: 54%;
  padding: 20px 0px 20px 0px;
  margin-left: 28px;
  text-align: center;
  transition: 0.3s;
}
.link:hover {
  color: black;
  background-color: white;
  cursor: grab;
}
