/* Skill */
.skill {
  height: 100%;
  background-color: white;
  z-index: -1;
  /* text-align: center; */
  margin: 0 auto;
  align-content: center;
  position: relative;
}
.container {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  margin: 10px 0px 40px 0px;
}
.container2 {
  margin: 10px 0px 40px 0px;
  /* background-color: gray; */
  width: 100%;
  display: flex;
}
.container3 {
  margin: 10px 0px 40px 0px;
  width: 100%;
  display: flex;
}
.center2 {
  /* padding-top: 1050px; */
  /* position: absolute; */
  z-index: 5;
}
.height2 {
  height: 130px;
  width: 130px;
  padding: 10px 10px 10px 50px;
}
.skilllabel {
  font-size: 30px;
  padding-left: 30px;
  font-weight: 300;
}
.height3 {
  height: 130px;
  padding: 10px;
  transition: 0.2s;
}

.eachskill {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills {
  margin-left: 175px;
  padding: 20px;
  text-align: center;
  margin: auto;
}
